{
  "extends": ["next", "next/core-web-vitals", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-unused-vars": 0,
    "code": 400,
    "tabWidth": 2,
    "ignoreUrls": true,
    "max-len": [200, 400, 4, { "ignoreUrls": true }],
    "prettier/prettier": "warn"
  }
}
