
:root {
  --cafe: #AF7C58;
  --amarillo:#FBF3C8;
  --yellow-light: #FFF9EE;
  --gris: #E5E5E5;
  --azulAcua:#B8DCD7;
  --verde:#9B9578;
  --pink :#F4C2C2;
  --white :#FFF;
  --black :#000;
}
body {
  background-color: var(--yellow-light) !important;
}


:root {
  color-scheme: light;
}
html {
  font-size: 62.5%;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

h2 {
  font-size: 3.2rem;
  font-weight: 300;
}

div.MuiPaper-root.MuiDrawer-paper{
  background-color: #B3D6D1;
  width: 100vw;
  position: relative;
}


