:root {
  color-scheme: light;
}
html {
  font-size: 62.5%;
}

h2 {
  font-size: 3.2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
div.MuiPaper-root.MuiDrawer-paper{
  background-color: #B3D6D1;
  width: 100vw;
  position: relative;
}
