@import "mixins";

.coverpage {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  background-image: url("/img/bgmovil.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  .coverpageOverlay {
    background: #8F8F8F7b;
    height: 100%;
  }
  .coverpageTitle {
    position: absolute;
    color: var(--yellow);
    top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    .coverpageTitle_handwrite {
      font-size: 6rem;
      @include font-handwrite;
    }
  }
}
.menu_card {
  border-radius: 10px;
  height: 41rem;
  text-align: center;
  background-image: url("/img/bgcards.png");
  background-position: bottom;
  background-size: contain;
  box-shadow: 0px 6px 8px 0px rgba(170, 170, 170, 0.64);
  position: relative;
  .menu_image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 20rem;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
  }

  .menu_title {
    background-color: var(--green);
    color: var(--yellow);
    font-size: 3rem;
    padding-top: 1rem;
    margin-top: 4rem;
    .menu_title_subtitle {
      color: var(--yellow);
      margin: 0px;
      font-size: 3rem;
      @include font-handwrite;
    }
  }

  button.menu_btn {
    background: var(--yellow);
    color: var(--brown);
    font-size: 2rem;
    text-transform: capitalize;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem 4rem;
    box-shadow: 0px 6px 8px 0px rgba(170, 170, 170, 0.64);
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 8em;
  }
}

.locations {
  text-align: center;
  margin-bottom: 5rem;
  background-color: var(--yellow-light);
  border: 1px solid var(--blue);
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  &::after {
    content: "";
    position: absolute;
    width: 7rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--yellow-light);
    height: 0.4rem;
    top: -0.19rem;
  }
  &::before {
    content: "";
    position: absolute;
    width: 97%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--yellow);
    height: 97.5%;
    top: 5px;
    z-index: 0;
  }
  .locations_icon {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -20px;
    width: 60px;
    transform: rotate(-15deg);
    z-index: 1;
    path {
      fill: var(--blue);
      stroke: var(--blue);
      stroke-width: 0.2px;
    }
  }
  .locations_title {
    color: var(--brown);
    padding: 20px;
    z-index: 1;
    position: relative;
  }
  .locations_image {
    width: 90%;
  }
}

.carouselLocation {
  width: 90%;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 3rem;
  box-shadow: rgba(20, 20, 20, 0.19) 0px 10px 20px, rgba(20, 20, 20, 0.23) 0px 6px 6px;
  .carouselInner {
    width: 100%;
  }
  .carouselItem {
    position: relative;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}


.updates {
  display: flex;
  justify-content: space-around;
  padding: 4rem 0rem;
  position: relative;
  overflow: hidden;
  .roundButton {
    width: 11rem;
    height: 11rem;
    background-color: #a8d0c8;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: var(--brown) 1px solid;
    transition: 0.7s;
    div {
      background-color: #b7d5c1;
      border: 1px solid #816960;
      color: #816960;
      padding: 0.5rem;
      position: relative;
      p {
        margin: 0;
      }
      svg {
        width: 1.8rem;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -0.8rem;
      }
      &::before {
        content: "";
        position: absolute;
        width: 1.8rem;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #b7d5c1;
        height: 0.4rem;
        bottom: -0.19rem;
      }
    }
    &:hover {
      background-color: #c9dbd7;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      div {
        background-color: #c8e4d1;
        &::before {
          background-color: #b7d5c1;
        }
      }
    }
  }

  &Flor1 {
    position: absolute;
    right: 0;
    top: 0;
    width: 10rem;
    svg {
      width: 20rem;
      &:nth-child(2) {
        margin-top: 2rem;
        transform: scaleY(-1);
      }
    }
  }

  &Flor2 {
    position: absolute;
    left: -10rem;
    width: 14px;
    bottom: -2rem;
    svg {
      width: 20rem;
      transform: scaleX(-1);
    }
  }
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(#9776767b, #ffffff7b);
  }
}

.carousel {
  overflow: hidden;
  .carousel_inner {
    white-space: nowrap;
    position: relative;
    height: 60rem;
    .carousel_item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 100%;
      width: 100%;
      &.active {
        z-index: 1;
        transform: scale(1);
      }
    }
  }
}

.slider {
  display: inline-flex;
  flex-flow: nowrap;
  white-space: nowrap;
  position: relative;
  width: 100vw;
  height: 55rem;
  .sliderItem {
    transform: translateX(-50%);
    width: 300px;
    position: absolute;
    /* top: 50%; */
    right: 50%;
    left: 50%;
  }
}

.carousel {
  display: flex;
  overflow: hidden;
  height: 100%;
  position: relative;
  margin-top: 6rem;
  padding: 20px;
}

.carousel_prev,
.carousel_next {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  height: 100%;
  width: 100px;
}

.carousel_prev {
  left: 0;
}

.carousel_next {
  right: 0;
}

.carousel_item {
  position: relative;
  display: inline-block;
  flex: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 50rem;
  img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.current {
    flex: 1;

    animation: nav--change-in forwards;
    animation-timing-function: ease-in;
    animation-duration: 0.7s;
    @keyframes nav--change-in {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.4;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.carousel_heading {
  display: inline-block;
  position: relative;
  background-color: #3498db;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;

  h2,
  h3 {
    padding: 0 20px;
    color: #ecf0f1;
  }
}

.carousel_prev::before {
  position: relative;
  top: 50%;
  left: 35px;
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-right: 0.2em solid var(--yellow);
  border-top: 0.2em solid var(--yellow);
  transform: rotate(225deg);
}

.carousel_next::before {
  position: relative;
  top: 50%;
  right: -40px;
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border-right: 0.2em solid var(--yellow);
  border-top: 0.2em solid var(--yellow);
  transform: rotate(45deg);
}
