.nav {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding: 4px 1rem;
  position: fixed;
  left: 0;
  right: 0;
  transition: all 200ms ease-out;
  transform: translateY(0);
  z-index: 2;
  background-image: "url(../img/fondo.png)";
  color: var(--yellow-light);
  background: var(--blue);
  animation: nav--change-out 1s forwards;
  z-index: 10;
  &.nav_change {
    animation: nav--change-in 1s forwards;
    .nav_logo2 {
      width: 5rem;
      position: absolute;
      left: 0;
      right: 0;
      top: 2px;
      margin: auto;
      path,
      rect,
      polygon {
        stroke: var(--white) !important;

        stroke-width: 3.2px;
      }
    }
    .nav_shopping {
      fill: var(--white);
    }
    .nav_btn {
      fill: var(--white);
    }
  }
  &.nav_bgSolid {
    background: var(--blue);
    color: var(--white);
  }

  .nav_btn {
    font-size: 3.5rem;
    color: var(--white);
  }

  &_logo {
    margin-left: 55px;
    width: 20rem;
    display: block;
    padding: 10px 7px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    path,
    rect,
    polygon {
      fill: var(--white) !important;
    }
  }
}

.nav_brand {
  @keyframes nav--change-in {
    0% {
      transform: translateY(-80%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes nav--change-out {
    0% {
      transform: translateY(-80%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.fullnav {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding: 0px 1rem;
  left: 0;
  right: 0;
  transition: all 200ms ease-out;
  transform: translateY(0);
  z-index: 2;
  width: 67%;
  justify-content: space-between;
  .fullnav_btn {
    font-size: 4rem;
    color: var(--brown);
  }
  .fullnav_logo {
    width: 10rem;
    display: block;
    padding: 18px;
  }
}

.navitem {
  text-align: center;
  color: var(--brown);
  position: relative;
  padding: 7rem 0rem;
  font-weight: 400;
  overflow: hidden;
  li {
    list-style: none;
    margin: 4rem 0rem;
    animation: nav--item-in 1s forwards;
    transform: translateX(-80%);
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
  &::before {
    content: "........";
    position: absolute;
    font-size: 3.6rem;
    top: 0;
    left: 0;
    right: 0;
  }
  &::after {
    content: "........";
    position: absolute;
    font-size: 3.6rem;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &Link {
    font-weight: 400;
    font-size: 3.2rem;
    ul {
      color: var(--brown);
    }
  }
  @keyframes nav--item-in {
    0% {
      transform: translateX(-80%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.navRedes {
  color: 8;
  position: absolute;
  bottom: 0rem;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  &::before {
    content: "";
    font-size: 3.6rem;
    position: absolute;
    top: -1.6rem;
    left: 0;
    right: 0;
    width: 95%;
    height: 0.1rem;
    margin: 0px auto;
    background-color: var(--white);
  }
  svg {
    font-size: 3rem;
    margin: 0px 1rem;
    color: var(--brown);
  }
  p {
    margin-bottom: 1rem;
    color: var(--brown);
  }
}
